* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
}

#mainContainer {
  background: darkgreen;
  justify-content: center;
  grid-template-columns: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: darkgrey;
  grid-template-columns: auto;
  width: 225;
  border: black;
  padding: 5px;
}

#displayContainer {
  background: blue;
  width: 200;
  padding: 5px;
  display: flex;
}

#display {
  background: black;
  color: green;
  text-align: right;
  height: 80px;
  align-self: flex-start;
  flex-grow: 1;
  font-size: 20px;
}

#buttonsContainer {
  background-color: coral;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
}

.btn {
  height: 80px;
  width: 80px;
}
